@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #666;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5badf0;
  font-size: 0.85em;
  text-transform: uppercase;
}

a:hover {
  border-bottom: 1px dotted #5badf0;
}
