@import "tailwindcss";

:root {
  --header-height: 3rem;

  --background: #000000;
  --foreground: #ffffff;

  --text-muted: rgba(255, 255, 255, 0.2);
  --text-primary: rgba(255, 255, 255, 1);

  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;

  --text-muted: rgba(0, 0, 0, 0.2);
  --text-primary: rgba(0, 0, 0, 1);
}

@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --text-muted: var(--text-muted);
  --text-primary: var(--text-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 0.75rem;
  font-family: var(--font-mono), monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
