@import "tailwindcss";

:root {
  --header-height: 3rem;

  --background: #000000;
  --foreground: #ffffff;
  --secondary-foreground: #666666;

  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
  --secondary-foreground: #999999;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-border: var(--border);
  --color-hover-foreground: var(--hover-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 0.75rem;
  font-family: var(--font-mono), monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
